            <h2>About</h2>
            <p>Aquila is a federated package repository and CI system for the Zig programming language.</p>
            <p>If you haven't seen it already you should definitely check out <a href="https://ziglang.org/">Zig</a>.</p>
            <p>Presently this site is meant to be used with the <a href="https://github.com/nektro/zigmod">Zigmod</a> package manager. The Zig project plans on building a package manager into <code>zig</code> itself, so when that is released this registry will be updated to work with that. Until then, importing projects will fail if the git repo does not have a <code>zig.mod</code> file in its root defining its properties.</p>
            <p>Checkout the <a href="./contact">Contact</a> page if you'd like to reach out.</p>
            <p>
                <a href=""><img class="badge" src="https://indieweb.org/img/indieweb-badge.png" alt=""></a>
            </p>
        </div>
    </body>
</html>
