            <h2>Wait!</h2>
            <p>Are you sure you want to do this? This action is irreversible!</p>
            <p><blockquote>{{message}}</blockquote></p>
            <form action="{{endpoint}}" method="post">
                <p><button class="btn btn-primary">Confirm</button></p>
            </form>
        </div>
    </body>
</html>
