            <h2>Contact</h2>
            <dl>
                <dt>Email</dt>
                <dd><a href="mailto:hello@nektro.net">hello@nektro.net</a></dd>
                <dt>Github</dt>
                <dd><a href="https://github.com/nektro">github.com/nektro</a></dd>
            </dl>
        </div>
    </body>
</html>
