:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --font-stack: sans-serif;
    --background-color: #222225;
    --page-width: 80em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
}
.terminal-card {
    margin: 1em 0;
}
a.link-as-text::after {
    content: attr(href);
}
table tr td {
    text-align: center;
}
table.left tr td {
    text-align: left;
}
.home-cols {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.home-cols > div {
    margin-right: 1em;
}
.home-cols > div:last-child {
    margin-right: 0;
}
.home-cols .terminal-card div:last-child,
.pkg-grid .terminal-card div:last-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}
.pkg-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1em;
}
.pkg-grid .terminal-card {
    margin: 0;
}
.pkg-grid .terminal-card h3,
.home-cols .terminal-card h3 {
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
}
img.badge {
    width: 80px;
    height: 15px;
    image-rendering: pixelated;
}
.wide-title {
    margin-bottom: 0;
    display: flex;
}
.wide-title a {
    display: block;
}
.wide-title div {
    font-weight: normal;
    margin-left: 1em;
}
.wide-title div .icon {
    padding-right: 0;
    display: inline;
}

.pkg-list {
    display: flex;
    flex-direction: column;
}
.pkg-list .terminal-card {
    margin: 0;
    padding: .5em 0;
    border-color: transparent;
    border-bottom-color: var(--secondary-color);
}
.pkg-list .terminal-card:last-child {
    border-bottom-color: transparent;
}

/* TODO clean this all up with scss */
#page-version main {
    display: flex;
}
#page-version aside {
    margin: 0 1em;
    white-space: nowrap;
}
#page-version section {
    margin: 0 1em;
    width: 100%;
}
#page-version section > ul {
    padding-left: 0;
}
#page-version section > ul li {
    display: inline-flex;
    align-items: center;
    padding-left: .5em;
}
#page-version section > ul li > * {
    display: block;
}
#page-version section > ul li .icon {
    font-size: 1.5em;
}
#page-version section h1 small {
    color: #999;
}
input[type="radio"][name="tab"][id="t-readme"]:checked~div.page#readme,
input[type="radio"][name="tab"][id="t-dependencies"]:checked~div.page#dependencies,
input[type="radio"][name="tab"][id="t-dependents"]:checked~div.page#dependents,
input[type="radio"][name="tab"][id="t-contents"]:checked~div.page#contents,
input[type="radio"][name="tab"][id="t-versions"]:checked~div.page#versions {
    display: block;
}
input[type="radio"][name="tab"] {
    display: none;
}
input[type="radio"][name="tab"]+label {
    display: inline-block;
    padding: 1em;
    border-bottom: 1px solid #666;
    text-align: center;
}
label.fill-line {
    display: inline-block;
    padding: 1em;
    border-bottom: 1px solid #666;
    width: calc(100% - 23em);
}
input[type="radio"][name="tab"]:checked+label {
    border-bottom-color: #fff;
}
div.page {
    display: none;
}
div.page h2 {
    margin-top: revert;
}
div.page#contents ul {
    font-family: monospace;
}
